.jumbotron {
    background-color: rgb(66, 61, 61);
}
.jumbotron h1 {
    color: white;
    font-family: 'Raleway', sans-serif; 
    font-size: 50px;
    text-align: center;
}
h1 {
    font: bold;
}
.panel {
    font-family: 'Cabin', sans-serif;
}