.jumbotron {
    background-color: rgb(66, 61, 61);
}
.jumbotron h1 {
    color: white;
    font-family: 'Raleway', sans-serif; 
    font-size: 50px;
    text-align: center;
}
.panel {
    font-family: 'Cabin', sans-serif;
}
.info {
    margin-top: 20px;
    margin-bottom: 20px;
}
span {
    margin-right: 3px;
}
